.hero {
  width: 100%;
  height: auto;
}

.contenedor hr {
  color: #ffff;
  margin-right: 80px;
  border: 2px solid #ffff;
}

.contenedor {
  top: 100px;
  width: 600PX;
  margin-left: auto;
  margin-right: auto;
}

.contenedorIcons {
  margin-top: 20px;
}

.hero-image {
  margin: 10px;
}

.heroTitle {
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  margin-left: 120px;
}

.contenedor-boton {
  margin-left: 170px;
  margin-top: 50px;
}

.boton-hero {
  background-color: #023e8a;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
  color: #ffff;
}

.boton-hero:hover {
  background-color: #03045e;
  color: #ffff;
}

.family {
    width: 100%;
}

.planOferta {
  margin-left: 110px;
  margin-top: 50px;
  width: 300px;
  height: 150px;
  border: 2px ridge #ffffff;
  border-radius: 10px;
  color: #ffffff;
}

.planOferta h3 {
  margin: 10px;
  margin-left: 110px;
  font-size: 16px;
  font-weight: bold;
}

.planOferta h4 {
  margin-left: 50px;
  font-size: 40px;
}

.planOferta p {
  margin-left: 80px;
  font-weight: bold;
  font-size: 16px;
}

.fondo-blur{
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  }

@media screen and (max-width: 376px) {
  .contenedor {
    width: 374PX;
  } 
  .hero-image {
    width: auto;
    height: 30px;
    margin: 10px
  }  
  .planOferta {
    margin-left: 40px;
    margin-top: 50px;
    width: 300px;
    height: 150px;
  }
  .heroTitle {
    margin-left: 60px;
  }
  .contenedor-boton {
      margin-left: 100px;
      margin-top: 50px;
  }
  .contenedor hr {
    width: 300px;
    margin-left: 40px;
  }
}