.searchInputs {
  display: flex;
}

.search{
  margin-top: 20px;
}

.search input {
  height: 30px;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
}

.search input:focus {
  outline: none;
}

.searchIcon {
  height: 30px;
  width: 30px;
  background-color: #ec5990;
  display: grid;
  place-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#clearBtn {
  cursor: pointer;
}

.boton-search-close{
  height: 30px;
  width: 30px;
  border: none;
  background: none;
}

.suggestions{
  margin-left: 10px;
  width: 90%;
  height: 25px;
  display: flex;
  background-color: #7e3e88;
}

.suggestions:hover {
  background-color: #420d4a;
  cursor: pointer;
}

@media screen and (max-width: 376px) {
  .suggestions{
    font-size: 10px;
    padding-bottom: 20px;
  }
}

.searchIcon:hover {
  background-color: #bf1650;
}