.pelis-slider{
  list-style: none;
  font-size: medium;
  text-align: center;
  padding-right: 1px;
  width: 300px;
}
.pelis-slider:hover{
  opacity: 0.8;
}

.img-slider{
  border-radius: 10px;
  background-color: azure;
  width: 300px;
  height: auto;
}

@media(max-width:560px){
  .img-slider{
      width: 90%;
      height: auto;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card-box1{
  position: relative;
}

.card-box2{
  position: absolute;
  bottom: 0;
}