.carrusel {
  display: flex; 
  margin-top: 100px;  
}

.carrusel-contenedor {
  width: 100%;
  height: auto; 
  margin-left: auto;
  margin-right: auto;
}

.carruselItem {
  width: 100%;  
  height: auto;  
}

.img-carrusel {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}