:root{
  --color-principal: #03045e;
  --color-secundario: #230D4A;
  --color-terciario: #420d4a;
  --color-logo:  #bf1650;
  --color-letra: #ffffff;
  --color-boton: #ec5990;;
  --color-boton-foco: #bf1650;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family:'Inter', sans-serif;
  color: var(--color-letra);
}

body{
  /* background: var(--color-principal); */
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.logo-login{
  /* background-position: center center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja-login{
  background: var(--color-secundario);
  border-radius: 25px;
}
.boton-login{
  background-color: var(--color-boton);
  color: var(--color-letra);
  border-radius: 15px;
}
.boton-login:hover{
  background-color: var(--color-boton-foco);
  color: var(--color-letra);
}
.entrada-login{
  background: var(--color-terciario);
  border: none;
  border-radius: 6px;
  
  color: white;
}
.entrada-login:focus{
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 78, 142, 0.6);
}
.link-login{
  color: var(--color-logo);
}
.link-login:hover{
  color: var(--color-logo);
  font-weight: bold;
}
.entrada-login::placeholder {
  color: var(--color-letra);
  opacity: 1;
}
.check-login{
  background: var(--color-terciario);
}
.check-login:checked{
  background: var(--color-terciario);
}
.mensaje-login{
  color: var(--color-letra);
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: var(--color-principal);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 78, 142, 0.6);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FFE600'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FFE600' stroke='none'/%3e%3c/svg%3e");
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: var(--color-principal);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 78, 142, 0.6);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%235D4E8E' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
  background-color: var(--color-principal);
  border-color: var(--color-principal);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 78, 142, 0.6);
}
.form-check-input.is-invalid, .was-validated .form-check-input:invalid {
  border-color: var(--color-logo);
}
.terminos-titulo{
  color: var(--color-logo);
}
.terminos-titulo-principal{
  color: var(--color-logo);
  font-weight: bold;
  text-align: center;
}

.error-icon{
  color: #bf1650;
}

.error-icon::before {
  display: inline;
  content: "⚠ ";
  margin: 0;
}

.selector-panel{
  background: var(--color-terciario);
  border: none;
  border-radius: 6px;

  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.fila-datos > td, th{
  color: white !important;
  background-color: var(--color-terciario);
}
.fila-datos > td, th:hover{
  color: white !important;
}

.fila-encabezado > th{
  background-color: var(--color-secundario);
}