.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: black;
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin-bottom: -70px;
  z-index: 5;
}

.boton-suscribite {
  background-color: #023e8a;
  border-radius: 20px;
  border: 1px ridge #ffff;
  font-size: 18px;
  text-decoration: none;
  padding: 6px;
  margin-right: 20px;
  color: #ffff;
}

.boton-suscribite:hover {
  background-color: #03045e;
  color: #ffff;
}

.navbar__item {
  white-space: nowrap;
}

.navbar__menu {
  color: white;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 300px;
    position: absolute;
    transition: all 0.5s ease;
  }
  .navbar__menu {
    display: block;
  }
  .navbar__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    flex: 1;
  }
  .navbar__link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-width: 0px;
    background-color: black;
    opacity: 0.75;
  }
  .navbar__link:hover {
    border-width: 0px;
    opacity: 0.9;
  }
}

@media screen and (max-width: 376px) {
  .boton-suscribite {
    font-size: 12px;
    padding: 4px;
    margin-right: 10px;
  }
}