.carrusel {
    display: flex; 
    margin-top: 00px;  
  }
  
  .carrusel-contenedor-home {
    width: 650px;
    height: 350px;  
    margin-left: auto;
    margin-right: auto;
  }
  
  .carruselItem-home {
    width: 600px;  
    height: 350px;  
  }
  
  .img-carrusel-home {
    width: 100%;
    height: 80%;
    border-radius: 15px;
  }
  
  @media (max-width: 560px){
    .carrusel-contenedor-home{
      width: 100%;
      height: 200px;
    }
    .carruselItem-home{
      width: 100%;
      height: 200px;
    }
    .img-carrusel-home{
      width: 100%;
      height: 200px; 
    }
  }